<div>DeadLine▼</div>
<div class="form-group row my-1 deadline">
    <label for="start-datetime" class="col-form-label col-1 col-form-label">Start:</label>
    <div class="col-5">
      <input id="start-datetime" name="start-datetime" class="form-control" type="datetime-local">
    </div>
    <label for="end-datetime" class="col-form-label col-1 col-form-label">End:</label>
    <div class="col-5">
      <input id="end-datetime" name="end-datetime" class="form-control" type="datetime-local">
    </div>
</div>